@use '../styles/colour';
@use '../styles/global';
@use '../styles/spacing';
@use '../styles/variables';

.screenContent {
  width: 100%;
}

.h1 {
  color: colour.$primary;
}

@media screen and (min-width: variables.$medium) {
  .screenContent {
    width: 100%;
    padding: 0 spacing.$m;
    width: calc(100% - 48px);
  }
}