@use '../styles/colour';
@use '../styles/spacing';
@use '../styles/global';
@use '../styles/variables';

.carousel {
  position: relative;
  height: 60vw;
  background-color: colour.$borders;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: variables.$medium) {
  .carousel {
    height: 30vw;
  }
}
