@use '../styles/colour';
@use '../styles/spacing';

.carousel {
  position: relative;
  height: 60vw;
  background-size: cover;
  background-position: center;
}

.message {
  margin: 0;
  padding: spacing.$m;
  border-top: 1px solid colour.$borders;
}
