@use '../styles/colour';
@use '../styles/spacing';
@use '../styles/variables';

.carousel {
  position: relative;
  height: 60vw;
  background-color: colour.$borders;
  background-size: cover;
  background-position: center;
}

.message {
  margin: 0;
  padding: spacing.$m;
  border-top: 1px solid colour.$borders;
}

@media screen and (min-width: variables.$medium) {
  .carousel {
    height: 30vw;
  }
}
