@use '../styles/colour';
@use '../styles/spacing';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: spacing.$ms spacing.$m spacing.$xxs;

  a, svg {
    display: block;
  }
}
