@use '../styles/colour';
@use '../styles/spacing';
@use '../styles/variables';

.header {
  .screenContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: spacing.$ms spacing.$m spacing.$xxs;

    a, svg {
      display: block;
    }
  }
}
