@use '../styles/colour';
@use '../styles/spacing';
@use '../styles/global';

.container {
  position: relative;
  padding: 0;
  border-top: 1px solid colour.$borders;
  border-bottom: 1px solid colour.$borders;

  .icon {
    position: absolute;
    left: spacing.$m;
    top: 50%;
    color: colour.$heading;
    transform: translateY(-45%);
    z-index: 1;
  }

  input {
    position: relative;
    padding: spacing.$ms spacing.$m spacing.$ms 48px;
    width: calc(100% - 72px);
    font-size: 1.125rem;
    border: 0;
    
    &::placeholder {
      color: colour.$notes;
    }
  }
}
