@use '../styles/colour';
@use '../styles/spacing';
@use '../styles/global';
@use '../styles/variables';

.container {
  position: relative;
  padding: 0;
  border-top: 1px solid colour.$borders;
  border-bottom: 1px solid colour.$borders;

  input {
    position: relative;
    padding: spacing.$ms spacing.$m spacing.$ms 48px;
    width: calc(100% - 72px);
    font-size: 1rem;
    border: 0;
    outline: none;
    
    &::placeholder {
      color: colour.$notes;
    }

    &:focus {
      background-color: #f7f7f7;
    }
  }
}

.icon {
  position: absolute;
  left: spacing.$m;
  top: 50%;
  color: colour.$heading;
  transform: translateY(-40%);
  z-index: 1;
}

@media screen and (min-width: variables.$medium) {
  .screenContent {
    padding: 0 spacing.$m;
  }

  .container input {
    padding-left: spacing.$m;
    width: calc(100% - 48px);
  }
}
