@use '../styles/colour';
@use '../styles/spacing';
@use '../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  gap: spacing.$xxs;
  padding: spacing.$s spacing.$m 0 spacing.$m;
  
  &:last-child {
    padding-bottom: spacing.$m;
  }

  p {
    margin: 0;
  }
}

.cover {
  position: relative;
  height: 42vw;
  background-color: colour.$borders;
  background-size: cover;
  background-position: center;
  border-radius: spacing.$xxs;
}

.deal {
  position: absolute;
  left: spacing.$xs;
  top: spacing.$xs;
  padding: spacing.$xxs spacing.$xs;
  color: colour.$background;
  background-color: colour.$primary;
  border-radius: spacing.$xxs;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.5);

  p {
    font-size: 0.75rem;
  }
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: spacing.$xs;

  a {
    color: colour.$heading;
    text-decoration: none;
    
    h2 {
      margin: 0;
      font-size: 1.25rem;
      font-weight: 800;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.cuisines {
  font-size: 0.75rem;
}

@media screen and (min-width: variables.$medium) {
  .container {
    padding: 0 0 0;
  }
  
  .cover {
    height: calc(variables.$medium * 0.1875);
  }
}

@media screen and (min-width: variables.$large) {
  .cover {
    height: calc(variables.$large * 0.1875);
  }
}
